* {
  margin: 0;
}
.app {
  margin: 0 auto;
  position: relative;
  font-family: arial, sans-serif;
}


app-footer {
  position: fixed;
  bottom: 0;
  height: 60px;
  background: #4B79A1;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 100%;
}
main {
  heigth: calc(100%-120px);
  overflow: auto;
  margin: 65px 0 60px 0;
}
